<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>

  <div class="container page-content">   
    <form th:action="@{/checkout}" method="post">
      <div class="row">      

        <!-- Checkout Info -->                         
        <div class="col-lg-8 mb-3" >
          <div th:if="${missingRequiredField}">
            <h5 class="alert alert-warning">Bạn cần nhập đủ thông tin các trường bắt buộc.</h5>
          </div>          
          <div id="accordion">
            <div class="card">
              <div class="card-header bg-white" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link checkout-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    DANH SÁCH SẢN PHẨM <i data-feather="chevron-down" class="mb-1"></i>
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body border-bottom">                
                  <div class="row align-items-center border-bottom  pb-2 pt-2" th:each="cartItem : ${cartItemList}">
                    <div class="col-12 col-md-6 mb-2">
                      <div class="row align-items-center">                      
                        <div class="col-4">
                          <a th:href="@{/article-detail?id=}+${cartItem.article.id}"><img class="img-fluid" th:src="'/image/article/pictures/'+${cartItem.article.picture}" alt="${cartItem.article.title}"></a>
                        </div>
                        <div class="col-8">
                          <a th:href="@{/article-detail?id=}+${cartItem.article.id}" class="h6 bold d-inline-block" th:text=${cartItem.article.title}></a>
                            <div><i data-feather="check-circle" class="text-success"></i> Còn hàng</div>
                            <div class="my-2"><span><b>Kích thước</b>: <span th:text="${cartItem.size}"></span></span></div>
                            <span><b>Giá bán</b>: <span th:text="${#numbers.formatDecimal(cartItem.article.price, 0, 'COMMA', 0, 'POINT')}"> VND</span></span>
                        </div>
                      </div> 
                    </div>  
                    <div class="col-12 col-md-6 text-right">
                      <span>x<span th:text="${cartItem.qty}"></span> sản phẩm: </span>
                      <span class="font-weight-bold text-info"><span th:id="'price'+${cartItem.id}" th:text="${#numbers.formatDecimal(cartItem.subtotal, 0, 'COMMA', 0, 'POINT')}"> VND</span></span>
                    </div>                  
                  </div>                  
                  <div class="text-center mx-auto">
                    <small class="counter">TỔNG TIỀN</small>
                    <h3 class="font-weight-bold"><span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 0, 'POINT')}"> VND</span></h3>
                  </div>                    
                  <div class="d-flex flex-wrap justify-content-between align-items-center mt-3">      
                    <a th:href="@{/shopping-cart/cart}" class="btn btn-info rounded-pill  "><i data-feather="arrow-left"></i> Quay lại giỏ hàng</a>
                    <a data-toggle="collapse" data-parent="#accordion"
                        class="btn btn-primary rounded-pill " href="#collapseTwo">Tiếp tục <i data-feather="arrow-right"></i></a>
                  </div>
                </div>                 
              </div>
            </div>
            <div class="card">
              <div class="card-header bg-white" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link checkout-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    VẬN CHUYỂN <i data-feather="chevron-down" class="mb-1"></i>
                  </button>
                </h5>
              </div>    
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body border-bottom">
                  <div class="form-row">
                    <div class="form-group col-12">
                      <label for="receiver">Tên người nhận</label>
                      <input type="text" class="form-control" id="receiver" name="receiver" required="required"/>
                    </div>  
                    <div class="form-group col-12">
                      <label for="streetAddress">Địa chỉ</label>
                      <input type="text" class="form-control" id="streetAddress" name="streetAddress" required="required" />
                    </div>
                    <div class="form-group col-4">
                      <label for="city">Tỉnh / Thành phố</label> <input type="text"
                        class="form-control" id="city" th:name="city"
                        required="required"/>
                    </div>
                    <div class="form-group col-4">
                      <label for="country">Quận / Huyện</label> <input type="text"
                        class="form-control" id="country" th:name="country"
                        required="required"/>
                    </div>
                    <div class="form-group col-4">
                      <label for="zipCode">Mã bưu điện(Zipcode)</label> <input
                        type="text" class="form-control" id="zipCode"
                        th:name="zipCode" required="required" />
                    </div>                                       
                  </div>
                  <div class="mt-2 text-right">
                    <a data-toggle="collapse" data-parent="#accordion"
                      class="btn btn-primary rounded-pill" href="#collapseThree">Tiếp tục <i data-feather="arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header bg-white" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link checkout-header collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    THANH TOÁN  <i data-feather="chevron-down" class="mb-1"></i>
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body border-bottom">
                  <div class="row">
                    <div class="col-12">
                      <img src="/image/creditcard.png" class="img-fluid mb-2" /><br />
                      <div class="form-group">
                        <label for="cardType">Chọn loại thẻ: </label> <select
                          class="form-control" id="cardType" name="type">
                          <option value="visa">Visa</option>
                          <option value="mastercard">Mastercard</option>
                          <option value="discover">Discover</option>
                          <option value="amex">American Express</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="cardHolder">Chủ sở hữu:</label> <input
                          type="text" class="form-control" id="cardHolder"
                          required="required" th:name="holderName">
                      </div>
                      <div class="form-group">
                        <label for="cardNumber">Số thẻ:</label>
                        <div class="input-group">
                          <input type="tel" class="form-control" id="cardNumber"
                            required="required" th:name="cardNumber">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-7">
                      <div class="form-group">
                        <label>Hiệu lực đến</label>
                        <div class="row">
                          <div class="col-6">
                            <select class="form-control" name="expiryMonth"
                              required="required">
                              <option disabled="disabled">-- Tháng --</option>
                              <option value="1">Jan (01)</option>
                              <option value="2">Feb (02)</option>
                              <option value="3">Mar (03)</option>
                              <option value="4">Apr (04)</option>
                              <option value="5">May (05)</option>
                              <option value="6">June (06)</option>
                              <option value="7">July (07)</option>
                              <option value="8">Aug (08)</option>
                              <option value="9">Sep (09)</option>
                              <option value="10">Oct (10)</option>
                              <option value="11">Nov (11)</option>
                              <option value="12">Dec (12)</option>
                            </select>
                          </div>
                          <div class="col-6">
                            <select class="form-control" name="expiryYear">
                              <option disabled="disabled">-- Năm --</option>
                              <option value="2018">2018</option>
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                              <option value="2026">2026</option>
                              <option value="2027">2027</option>
                              <option value="2028">2028</option>
                              <option value="2029">2029</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label for="cardCVC">Mã CVC/CVV</label> <input id="cardCVC"
                          type="tel" class="form-control" name="cvc"/>
                      </div>
                    </div>
                  </div>  
                  <div class="mt-2 text-right">
                    <a data-toggle="collapse" data-parent="#accordion"
                      class="btn btn-primary rounded-pill" href="#collapseThree">Next <i data-feather="arrow-right"></i></a>
                  </div>                
                </div>                
              </div>
            </div>            
          </div> <!--  end accordion -->          
        </div>
        
        
        <!-- Summary Panel -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header bg-white checkout-header">CHI TIẾT THANH TOÁN</div>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span>Tiền sản phẩm: </span>
                <span><span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 0, 'POINT')}"> VND</span></span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Phí vận chuyển: </span>
                <span>0 VND</span>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span>Số tiền phải trả: </span>
                <span class="font-weight-bold">$ <span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 0, 'POINT')}"> VND</span></span>
              </div>
            </div>
            <div class="card-footer bg-white border-top-0">
              <button type="submit" class="btn btn-primary rounded-pill btn-lg btn-block mt-2 mb-3">
                THANH TOÁN
              </button>
            </div>
          </div>       
        </div>        
      </div>
    </form>             
    
  </div> <!--  end container -->
  
  <div th:replace="common/header :: footer"> </div>  
  <div th:replace="common/header :: body-scripts"> </div>
 
  
</body>
</html>