<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>
  <!-- ======= Contact ======= -->
  <section id="contact" class="contact section">
    <div class="container">
      <div class="row gx-lg-0 gy-4">

        <div class="col-lg-4">

          <div class="info-container d-flex flex-column align-items-center justify-content-center">
            <div class="contact__item">
              <div class="contact__icon">
                <i class="fa-solid fa-location-dot"></i>
              </div>

              <div>
                <h4>Địa chỉ</h4>
                <p>132 Canh Nậu, Thạch Thất</p>
              </div>
            </div><!-- End Info Item -->

            <div class="contact__item">
              <div class="contact__icon">
                <i class="fa-regular fa-envelope"></i>
              </div>
              <div>
                <h4>Email</h4>
                <p>t.onion.2002@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="contact__item">
              <div class="contact__icon">
                <i class="fa-solid fa-phone"></i>
              </div>
              <div>
                <h4>Gọi đến</h4>
                <p>Số di động: 0966 734 205</p>
              </div>
            </div><!-- End Info Item -->

            <div class="contact__item">
              <div class="contact__icon">
                <i class="fa-regular fa-clock"></i>
              </div>
              <div>
                <h4>Giờ mở cửa</h4>
                <p>Thứ 2 - Thứ 7: 9h00 - 23h00</p>
              </div>
            </div><!-- End Info Item -->
          </div>

        </div>

        <div class="col-lg-8">
          <form action="forms/contact.php" method="post" role="form" class="js-contact-form">
            <div class="row">
              <div class="contact__title" style="width: 100%">
                <h2>Liên hệ với Tonion</h2>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tên của bạn" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Địa chỉ Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Nghề nghiệp của bạn" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="7" placeholder="Nội dung" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center">
              <button type="submit" >Gửi tin</button>
              <button type="reset">Nhập lại</button>
            </div>
          </form>
        </div><!-- End Contact Form -->

        <div class="contact__map">
          <iframe  src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3723.432160134449!2d105.61389107492984!3d21.055394980600624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDAzJzE5LjQiTiAxMDXCsDM2JzU5LjMiRQ!5e0!3m2!1svi!2s!4v1688896946812!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

    </div>
  </section>
  <div th:replace="common/header :: footer"> </div>
  <div th:replace="common/header :: body-scripts"> </div>
  <script>
    $(document).ready(function(){
  		$(".cartItemQty").on('change', function(){
  			var id=this.id;	
  			var qty=this.value;
  			$('#newqty').val(qty)
  			$('#newid').val(id)
  			$('#update-item-'+id).css('display', 'inline-block');
  		});
    });
  </script>
  
</body>
</html>