<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column" >
  <div th:replace="common/header :: navbar"> </div>
  <section id="slider">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
                      aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"
                      aria-label="Slide 3"></button>
          </div>

          <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="8000">
                  <div class="slider slider--type-1 row w-100 justify-content-center">
                      <div class="col-sm-10 col-lg-5 d-flex flex-column justify-content-center slider__content">
                          <h2 class="slider__content-big">Chào mừng</h2>
                          <h2 class="slider__content-medium">Air Jordan 1 Elevate High</h2>
                          <p class="slider__content-small">Classic Jordan style reaches new heights in this lifted. The platform
                              stance and high-top collar make a statement, while crisp leather and flashy finishes make these kicks
                              the winning assist your outfit needs. </p>
                          <span><a href="#" class="slider__content-btn auth-btn">Đăng nhập</a></span>
                      </div>
                      <div class="col-lg-6 d-flex flex-column justify-content-center slider__illustration">
                          <div class="slider__img">
                              <div class="slider__img-back"></div>
                              <img src="/image/slider/slider1.png" class="d-block w-100" alt="...">
                          </div>
                      </div>
                      <div class="slider__back"></div>
                  </div>
              </div>

              <div class="carousel-item" data-bs-interval="8000">
                  <div class="slider slider--type-2 row w-100 justify-content-center">
                      <div class="col-sm-10 col-lg-5 d-flex flex-column justify-content-center slider__content">
                          <h2 class="slider__content-big">Sản phẩm</h2>
                          <h2 class="slider__content-medium">Air Jordan 1 Elevate High</h2>
                          <p class="slider__content-small">Classic Jordan style reaches new heights in this lifted. The platform
                              stance and high-top collar make a statement, while crisp leather and flashy finishes make these kicks
                              the winning assist your outfit needs. </p>
                          <span><a th:href="@{/store}" class="slider__content-btn">Đến cửa hàng</a></span>
                      </div>
                      <div class="col-lg-6 d-flex flex-column justify-content-center slider__illustration">
                          <div class="slider__img">
                              <div class="slider__img-back"></div>
                              <img src="/image/slider/slider2.png" class="d-block w-100" alt="...">
                          </div>
                      </div>
                      <div class="slider__back"></div>
                  </div>
              </div>

              <div class="carousel-item" data-bs-interval="8000">
                  <div class="slider slider--type-3 row w-100 justify-content-center">
                      <div class="col-sm-10 col-lg-5 d-flex flex-column justify-content-center slider__content">
                          <h2 class="slider__content-big">Sản phẩm</h2>
                          <h2 class="slider__content-medium">Air Jordan 1 Elevate High</h2>
                          <p class="slider__content-small">Classic Jordan style reaches new heights in this lifted. The platform
                              stance and high-top collar make a statement, while crisp leather and flashy finishes make these kicks
                              the winning assist your outfit needs. </p>
                          <span><a th:href="@{/store}" class="slider__content-btn">Đến cửa hàng</a></span>
                      </div>
                      <div class="col-lg-6 d-flex flex-column justify-content-center slider__illustration">
                          <div class="slider__img">
                              <div class="slider__img-back"></div>
                              <img src="/image/slider/slider-3.png" class="d-block w-100" alt="...">
                          </div>
                      </div>
                      <div class="slider__back"></div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">

      </div>

  </section>

  <!-- ======= Brand slider ======= -->
  <section id="brands" class="brands section">
      <div class="">
          <div class="brands-slider swiper">
              <div class="swiper-wrapper align-items-center">
                  <div class="swiper-slide"><img src="/image/brand/Adidas.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="/image/brand/Nike.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="/image/brand/Van.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="/image/brand/Converse.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="/image/brand/Puma.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="/image/brand/NewBalance.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="/image/brand/Balenciaga.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="/image/brand/Rebook.png" class="img-fluid" alt=""></div>
                  <div class="swiper-slide"><img src="/image/brand/Fila.png" class="img-fluid" alt=""></div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
          </div>
      </div>
  </section><!-- End Brand slider -->

  <section class="section py-5 ">
    <div class="container text-center">
      <h4 class="font-weight-bold ">Featured products</h4>
        <div class="featured-items mt-4">        
          <div class="card card-product card-featured" th:each="article : ${articles}">
            <div class="card-body">
              <a th:href="@{/article-detail?id=}+${article.id}"><img class="card-img-top" th:src="${article.picture} ? '/image/article/pictures/'+${article.picture}+'.jpg' : '/image/article/itemexample.jpg'" alt="Card image cap"></a>
              <a th:href="@{/article-detail?id=}+${article.id}" class="card-title" th:text="${article.title}"></a>
              <div class="price"><span th:text="'$'+${article.price}"></span></div>
            </div>              
          </div>
        </div>
    </div>
  </section>

   <!-- start section -->
  <section class="section py-5 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 mb-2">
          <div class="text-center features-card">
            <i data-feather="truck" class="text-info"></i>
            <h5>Giao hàng hỏa tốc</h5>
            <p>Tonion hiểu rằng khách hàng đặt hàng online luôn kỳ vọng nhận hàng sớm nhất có thể, vì thế chúng tôi hợp tác với các đơn vị vận chuyển hàng đầu để đáp ứng yêu cầu này.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-2">
          <div class="text-center features-card">
            <i data-feather="user" class="text-info"></i>
            <h5>Hỗ trợ 24/7</h5>
            <p>Tonion được thành lập từ ngày 25/02/2023 với sứ mệnh mang dịch vụ giặt là đến với mọi khách hàng. Đơn vị luôn đặt tiêu chí thân thiện, nhanh chóng, tiện lợi, đặc biệt là giá cả phải chăng lên hàng đầu.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-2">
          <div class="text-center features-card">
            <i data-feather="gift" class="text-info"></i>
            <h5>Đóng gói cẩn thận</h5>
            <p>Mỗi đơn hàng của Tonion được đóng gói 2 lớp, như một gói quà, đảm bảo khách hàng nhận được sản phẩm sẽ thực sự trọn vẹn.</p>
          </div>
        </div>        
      </div>
    </div> <!-- end container -->
  </section> <!-- end section -->
  
  <div th:replace="common/header :: footer"> </div>  
  <div th:replace="common/header :: body-scripts"> </div>
  
  <script type="text/javascript">
    $(document).ready(function(){
      $('.featured-items').slick({
    	  infinite: true,
    	  slidesToShow: 4,
    	  slidesToScroll: 4,
    	  responsive: [
    	    {
    	      breakpoint: 1200,
    	      settings: {
    	        slidesToShow: 3,
    	        slidesToScroll: 3,
    	      }
    	    },
    	    {
    	      breakpoint: 768,
    	      settings: {
    	        slidesToShow: 2,
    	        slidesToScroll: 2
    	      }
    	    },
    	    {
    	      breakpoint: 480,
    	      settings: {
    	        slidesToShow: 1,
    	        slidesToScroll: 1
    	      }
    	    }    	    
    	  ]
      })
      .on('setPosition', function (event, slick) {
		slick.$slides.css('height', slick.$slideTrack.height() + 'px');
	});
      $('.featured-brands').slick({
    	  slidesToShow: 6,
    	  slidesToScroll: 1,
    	  responsive: [
      	    {
      	      breakpoint: 1200,
      	      settings: {
      	        slidesToShow: 5,
      	        slidesToScroll: 1,
      	      }
      	    },
      	    {
      	      breakpoint: 992,
      	      settings: {
      	        slidesToShow: 4,
      	        slidesToScroll: 4
      	      }
      	    },
      	    {
      	      breakpoint: 768,
      	      settings: {
      	        slidesToShow: 3,
      	        slidesToScroll: 3
      	      }
      	    },
      	  	{
      	      breakpoint: 550,
      	      settings: {
      	        slidesToShow: 2,
      	        slidesToScroll: 2
      	      }
      	    },
      	  	{
      	      breakpoint: 380,
      	      settings: {
      	        slidesToShow: 1,
      	        slidesToScroll: 1
      	      }
      	    }, 
      	  ]
      });
    });
  </script>
</body>
</html>